<div class="resetPasswordPage">
    <div class="login">
        <div class="forgotPassDiv">
            <label for="">Reset Password</label>
        </div>
        <div>
            <img src="/images/renishaLogo.jpg" alt="" class="img-fluid logo">
        </div>
        <form action="" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
            <div>
                <div class="labelInputDiv">
                    <label for="" class="fieldLabels">Password</label>
                    <div>
                        <input type="password" placeholder="Enter Your Password" formControlName="password">
                        @if (submitted()) {
                        @if(resetPasswordForm.get('password')?.hasError('required')){
                        <div class="errMsg">*Password is required</div>
                        }

                        @if(resetPasswordForm.get('password')?.hasError('minlength')){
                        <div class="errMsg">*Minimum 6 characters are required</div>
                        }
                        }
                    </div>
                </div>
                <div class="labelInputDiv">
                    <label for="" class="fieldLabels">Confirm Password</label>
                    <div>
                        <input type="password" placeholder="Confirm Your Password" formControlName="confirmPassword">
                        @if (submitted()) {
                        @if(resetPasswordForm.get('confirmPassword')?.hasError('required')){
                        <div class="errMsg">*Confirm Password is required</div>
                        }

                        @if(resetPasswordForm.get('confirmPassword')?.hasError('minlength')){
                        <div class="errMsg">*Minimum 6 characters are required</div>
                        }
                        @if(resetPasswordForm.get('confirmPassword')?.hasError('mustMatch')){
                        <div class="errMsg">*Passwords must match</div>
                        }
                        }
                    </div>
                </div>

                <div>
                    <button type="submit" class="signinBtn">Reset Password</button>
                </div>
                <!-- <div class="signupDiv">
                    <label for="">Create an account ? <a routerLink="/signup">Signup</a></label>
                </div> -->
            </div>
        </form>
    </div>
</div>