@use '../../variable.scss' as *;
.manualDiv{
    padding: 35px 30px;
  height: calc(100vh - 120px);
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(100% - 300px);
  @include mobile() {
    width: 100%;
    padding: 20px 15px;
  }
  @include tablet() {
    width: 100%;
    padding: 20px 15px;
  }

  .login {
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;

    .labelInputDiv {
      margin-top: 20px;

      .fieldLabels {
        font-family: $font-regular;
        font-size: 18px;
        font-weight: 400;
      }

      input {
        width: 300px;
        padding: 15px;
        border-radius: 4px;
        border: none;
        background-color: #d9d9d9;
        font-weight: 400;
        font-size: 16px;
        font-family: $font-regular;
        margin-bottom: 5px;

        @include mobile() {
          width: unset !important;
        }

        &:focus-visible {
          outline: none;
        }
      }
    }

    .signinBtn {
      width: 100%;
      padding: 15px;
      border-radius: 4px;
      border: none;
      background-color: #153b62;
      font-weight: 400;
      font-size: 16px;
      font-family: $font-regular;
      color: white;

      @include mobile() {
        width: 100% !important;
      }
    }

    .errMsg {
      font-weight: 400;
      font-size: 12px;
      font-family: $font-regular;
      color: red;
    }
  }

  .table-responsive {
    thead {
      tr {
        th {
          background-color: #153b62;
          padding: 15px;
          color: white;
          font-weight: normal;
          font-family: $font-regular;
          text-align: center;
          font-size: 16px;
        }
      }
    }

    tbody {
      tr {
        td {
          padding: 15px;
          font-family: $font-regular;
          background-color: #d9d9d9;
          font-size: 16px;
          border-bottom: 1px solid white !important;
          text-align: center;
        }
        .btn-primary {
          background-color: #153b62;
          border: none;
        }
        .completed-btn {
          background-color: #28a745 !important; // green
          border-color: #28a745 !important;
          color: #fff;
          font-weight: 600;
        }

        button:disabled {
          cursor: not-allowed;
          opacity: 0.85;
        }
      }
    }
  }
}