<!-- <div class="loading-div" *ngIf="isLoading">
    <mat-spinner class="custom-spinner"></mat-spinner>
</div> -->
<div class="memberDiv">
  <div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-7 col-lg-5">
          <div class="searchBar">
            <input
              type="text"
              name="search"
              id="search"
              placeholder="Search"
              class="form-input w-100"
              (input)="onSearch($event)"
            />
            <span class="material-symbols-outlined"> search </span>
          </div>
        </div>
        <div class="col-12 col-md-5 col-lg-7">
          <div class="actionContainer">
            <div>
              <button class="actionButtons" *ngIf="role === 'admin'" (click)="exportToExcel()">Export</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container table-responsive">
      <table class="table mt-3">
        <thead>
          <tr>
            <th>Deal No</th>
            <th>Member ID</th>
            <th>Name</th>
            <th>Tenure Type</th>
            <!-- <th>Plan</th> -->
            <th>Amount</th>
            <th>Installment Amount</th>
            <th>Percentage(%)</th>
            <th>Paid Amount</th>
            <th>Wallet Amount</th>
            <th>From</th>
            <th>To</th>
            <th>Balance Amount</th>
            <th>LastPaid Amount</th>
            <th *ngIf="role === 'admin'"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let d of dealList">
            <td>{{ d.dealIdNo }}</td>
            <td>{{ d.memberIdNo }}</td>
            <td>{{ d.memberName }}</td>
            <td>{{ d.tenureType }}</td>
            <!-- <td>{{ d.tenurePlan }}</td> -->
            <td>{{ d.tenureAmount }}</td>
            <td>{{ d.tenureInstallment }}</td>
            <td>{{ d.percentage }}%</td>
            <td>{{d.totalPaidAmount}}</td>
            <td class="text-success">{{d.walletAmount}}</td>
            <td>{{ d.fromDate | date }}</td>
            <td>{{ d.endDate | date }}</td>
            <td>{{d.balanceAmount}}</td>
            <td>{{d.lastPaidDate | date }}</td>

            <td  *ngIf="role === 'admin'">
              <span
              class="material-symbols-outlined action-icon"
              (click)="viewDocuments(d._id)"
              data-bs-toggle="modal"
              data-bs-target="#installmentViewModal"
            >
              visibility
            </span>
              <span class="material-symbols-outlined" >edit</span>
              <span class="material-symbols-outlined text-danger"  (click)="openDialog(d._id)">delete</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <mat-paginator
      [length]="totalCount"
      [pageSize]="limit"
      [pageSizeOptions]="[5, 10, 25]"
      (page)="onPageChange($event)"
    ></mat-paginator>
  </div>
</div>
<!-- <div
  class="modal fade"
  id="editMemberModal"
  tabindex="-1"
  aria-labelledby="editMemberModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Member</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeModal()"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="dealForm" (ngSubmit)="saveDealEdit()">
          <div class="row mb-3">
            <label class="col-12 col-md-5 title"> Deal No <span>:</span> </label>
            <div class="col-12 col-md-7">
              <input type="text" formControlName="dealIdNo" class="form-control" readonly />
            </div>
          </div>

          <div class="row mb-3">
            <label class="col-12 col-md-5 title"> Tenure Type <span>:</span> </label>
            <div class="col-12 col-md-7">
              <input type="text" formControlName="tenureType" class="form-control" />
              <div
                class="text-danger"
                *ngIf="submitted && dealForm.get('tenureType')?.hasError('required')"
              >
                *Tenure Type is required
              </div>
            </div>
          </div>

          <div class="row mb-3">
            <label class="col-12 col-md-5 title"> Plan <span>:</span> </label>
            <div class="col-12 col-md-7">
              <input type="number" formControlName="tenurePlan" class="form-control" />
            </div>
          </div>

          <div class="row mb-3">
            <label class="col-12 col-md-5 title"> Amount <span>:</span> </label>
            <div class="col-12 col-md-7">
              <input type="number" formControlName="tenureAmount" class="form-control" />
            </div>
          </div>

          <div class="row mb-3">
            <label class="col-12 col-md-5 title"> Installment <span>:</span> </label>
            <div class="col-12 col-md-7">
              <input type="number" formControlName="tenureInstallment" class="form-control" />
            </div>
          </div>

          <div class="row mb-3">
            <label class="col-12 col-md-5 title"> Percentage <span>:</span> </label>
            <div class="col-12 col-md-7">
              <input type="number" formControlName="percentage" class="form-control" />
            </div>
          </div>

          <div class="row mb-3">
            <label class="col-12 col-md-5 title"> From Date <span>:</span> </label>
            <div class="col-12 col-md-7">
              <input type="date" formControlName="fromDate" class="form-control" />
            </div>
          </div>

          <div class="row mb-3">
            <label class="col-12 col-md-5 title"> End Date <span>:</span> </label>
            <div class="col-12 col-md-7">
              <input type="date" formControlName="endDate" class="form-control" />
            </div>
          </div>

          <div class="row mb-3">
            <label class="col-12 col-md-5 title"> Agent ID <span>:</span> </label>
            <div class="col-12 col-md-7">
              <input type="text" formControlName="agentNameId" class="form-control" />
            </div>
          </div>

          <div class="buttonDiv">
            <button
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
              (click)="closeModal()"
            >
              Cancel
            </button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
     
    </div>
  </div>
</div> -->

<!-- MODAL -->
<div class="modal fade" id="installmentViewModal" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Deal Installments</h5>
        <button class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        <!-- PAID INSTALLMENTS -->
        <div *ngIf="collectionList.length > 0; else noPaid">
          <h6 class="mt-3">Total Paid Installments-({{ totalInstallments }})</h6>
          <p>Total Paid Amount {{ totalPaidAmount | currency: 'INR' : 'symbol' : '1.0-0' }}</p>
          <table class="table table-bordered">
            <tr>
              <th>S.NO</th>
              <th>Date</th>
              <th>Paid Amount</th>
              <th>Mode</th>
            </tr>

            <tr *ngFor="let i of collectionList; let idx = index">
              <td>{{ idx + 1 }}</td>
              <td>{{ i.paidDate | date: 'dd-MM-yyyy' }}</td>
              <td>₹{{ i.installmentPaidAmount }}</td>
              <td>{{ i.paymentMode }}</td>
            </tr>
          </table>
        </div>

        <ng-template #noPaid>
          <p class="text-muted text-center">No paid installments found</p>
        </ng-template>

        <!-- INTEREST HISTORY -->
        <ng-container *ngIf="installment$ | async as installments">
          <div *ngIf="installments.length > 0; else noInterest">
            <h6>Interest History</h6>
            <table class="table table-bordered">
              <tr>
                <th>S.NO</th>
                <th>Date</th>
                <th>Interest</th>
                <th>Wallet After</th>
              </tr>

              <tr *ngFor="let i of installments; let idx = index">
                <td>{{ idx + 1 }}</td>
                <td>{{ i.date | date: 'dd-MM-yyyy' }}</td>
                <td>₹{{ i.interest || 0 }}</td>
                <td>₹{{ i.walletAfterInterest }}</td>
              </tr>
            </table>
          </div>

          <ng-template #noInterest>
            <p class="text-muted text-center">No interest history</p>
          </ng-template>
        </ng-container>
      </div>
    </div>
  </div>
</div>