<div class="memberAddCollectionPage" *ngIf="dealData">
  <div class="section1">
    <div class="col-12 col-md-3 memberProfile">
      <div class="eachField"><label>Member ID :</label> {{ dealData.memberIdNo }}</div>
      <div class="eachField"><label>Deal ID :</label> {{ dealData?.dealIdNo }}</div>
      <div class="eachField" *ngIf="role === 'agent'">
        <label>Agent Name :</label> {{ agentName }} - {{ logedAgentId }}
      </div>
      <div class="eachField"><label>Name :</label> {{ dealData?.member?.memberName }}</div>
      <div class="eachField"><label>Selected Plan :</label> {{ dealData?.tenureType }}</div>
      <div class="eachField"><label>Start Date :</label> {{ dealData?.fromDate | date }}</div>
      <div class="eachField"><label>End Date :</label> {{ dealData?.endDate | date }}</div>
    </div>

    <div class="col-12 col-md-6 paymentDetails">
      <form [formGroup]="paymentForm" (ngSubmit)="save()">
        <div class="buttonsDiv">
          <div class="button">
            <label>Installment</label>
            <input type="text" formControlName="installment" class="form-control"/>
          </div>
          <div class="button">
            <label>Amount</label>
            <input type="text" formControlName="collectionAmount" class="form-control" />
          </div>
        </div>

        <div class="buttonsDiv2">
          <div class="button col-12 col-lg-6">
            <label><input type="radio" formControlName="paymentMode" value="online"/> Online Payment</label>
            <div *ngIf="paymentForm.get('paymentMode')?.value === 'online'">
              <button type="button" (click)="openQr()">Generate QR</button>
            </div>
          </div>
          <div class="cashButton col-12 col-lg-6">
            <label><input type="radio" formControlName="paymentMode" value="cash"/> Cash</label>
          </div>
        </div>

        <div class="buttonsDiv3" *ngIf="paymentForm.get('paymentMode')?.value === 'online'">
          <div class="button">
            <label>Transaction ID (TXID)</label>
            <input type="text" formControlName="upiTransactionId" class="form-control"/>
          </div>
        </div>

        <div class="buttonsDiv3">
          <div class="button">
            <button type="submit" [disabled]="!isMemberLoaded || !dealData">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="section2">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>SNo</th>
            <th>Deal ID</th>
            <th>Transaction ID</th>
            <th>Amount</th>
            <th>Member Id</th>
            <th>Agent Id</th>
            <th>QR</th>
            <th>Payment Mode</th>
            <th>UPI TxID</th>
          </tr>
        </thead>
        <tbody *ngIf="collectionData.length > 0">
          <tr *ngFor="let item of collectionData; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ item.dealIdNo}}</td>
            <td>{{ item.transactionId }}</td>
            <td>{{ item.tenureAmount
}}</td>
            <td>{{ item.memberIdNo }}</td>
            <td>{{ item.agentName}}</td>
            <td>{{ item.primaryQRCode}}</td>
            <td>{{ item.paymentMode }}</td>
            <td>{{ item.upiTransactionId }}</td>
          </tr>
        </tbody>
        <tbody *ngIf="collectionData.length === 0">
          <tr><td colspan="9" class="text-center">No collections found</td></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- QR Modal -->
<div class="modal fade" id="qrModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ primaryQR?.name }}</h5>
        <button class="btn-close" data-bs-dismiss="modal" (click)="onQrClosed()"></button>
      </div>
      <div class="modal-body text-center">
        <img *ngIf="primaryQR?.url; else noQr" [src]="primaryQR.url" class="img-fluid"/>
        <ng-template #noQr><p class="text-danger">QR Image not available</p></ng-template>
      </div>
    </div>
  </div>
</div>
