<div class="collectionPage">
  <!-- <div class="collectionLabel">
        <h3>Monthly Overall Collection</h3>
    </div>
    <div class="datePickersDiv">
        <div class="eachDatePicker">
            <div>
                <mat-form-field>
                    <mat-label>From</mat-label>
                    <input matInput [matDatepicker]="picker1">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>

            </div>
        </div>
        <div class="eachDatePicker">
            
            <div>
                <mat-form-field>
                    <mat-label>To</mat-label>
                    <input matInput [matDatepicker]="picker2">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="collectionDiv">
        <div class="col-12 col-md-12 col-lg-6 col-xl-6">
            <div class="collectionBlocks">
                <div class="todayCollection">
                    <label for="">Today Collection Amount</label>
                    <h2>30,000</h2>
                </div>
                <div class="todayCollection">
                    <label for="">Today Pending Amount</label>
                    <h2>10,000</h2>
                </div>
            </div>
            <div class="collectionBlocks">
                <div class="todayCollection">
                    <label for="">Total Cash</label>
                    <h2>30,000</h2>
                </div>
                <div class="todayCollection">
                    <label for="">Account Transfer</label>
                    <h2>10,000</h2>
                </div>
            </div>
            
        </div>
        <div class="col-12 col-md-12 col-lg-6 col-xl-6">
            <div class="monthlyCollection">
                <label for="">Monthly Collection</label>
                <div class="piechartDiv">
                    <img src="/images/pieChart.png" alt="" class="img-fluid pieChart">
                </div>
                <h2>10,00,000</h2>
            </div>
        </div>
    </div>
    <div class="addColeectBtn">
                <button type="button" class="addCollection" (click)="addCollection()">Add Collection</button>
            </div> -->

  <h2>Today's Collection</h2>

  <!-- TOTAL AMOUNT CARD -->
  <div class="total-card">
    <span>Total Amount</span>
    <h3>₹ {{ todayTotalAmount }}</h3>
  </div>

  <!-- <div class="table-responsive" *ngIf="todayCollections.length > 0">
    <table class="table">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Transaction ID</th>
          <th>Deal ID</th>
          <th>Payment</th>
          <th>Amount</th>
          <th>Time</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let c of todayCollections; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ c.transactionId }}</td>
          <td>{{ c.dealIdNo }}</td>
          <td>{{ c.paymentMode | uppercase }}</td>
          <td class="amount">₹ {{ c.installmentPaidAmount}}</td>
          <td>{{ c.createdAt | date: 'shortTime' }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <p class="empty" *ngIf="todayCollections.length === 0">
    No collections for today
  </p> -->
</div>
