@use '../../variable.scss' as *;
.memberDiv {
  padding: 35px 30px;
  height: calc(100vh - 120px);
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(100% - 300px);
  @include mobile() {
    width: 100%;
    height: calc(100vh - 51px);
  }
  @include tablet() {
    width: 100%;
    height: calc(100vh - 57px);
  }
  .searchBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 29px;
    border: 1px solid #00000040;
    border-radius: 5px;
    padding: 15px;
    .form-input {
      border: none;
      &:focus {
        outline: none;
      }
    }
  }
  .actionContainer {
    display: flex;
    justify-content: space-between;
    @include mobile() {
      flex-wrap: wrap;
    }
    @include tablet() {
      flex-wrap: wrap;
    }
    @include ipad() {
      flex-wrap: wrap;
    }
    @include ipadpro() {
      flex-wrap: wrap;
    }
    @include ipadpro1() {
      flex-wrap: wrap;
    }
    @include desktop() {
      gap: 10px;
      justify-content: flex-start;
    }
    .actionButtons {
      height: 29px;
      width: 120px;
      border: 1px solid #00000040;
      background-color: #fff;
      border-radius: 5px;
      font-size: 13px;
      font-family: poppinsRegular;
      @include mobile() {
        margin-top: 10px;
      }
      @include tablet() {
        margin-top: 10px;
      }
      @include ipad() {
        width: 100px;
        margin-top: 5px;
      }
      @include ipadpro() {
        margin-top: 5px;
      }
      @include ipadpro1() {
        margin-top: 5px;
      }
    }
  }

  .filterIcon {
    height: 10px;
    width: 10px;
  }
  .filter {
    font-family: poppinsRegular;
    font-size: 14px;
    color: #153b62;
    display: flex;
    gap: 20px;
    @include mobile() {
      display: block;
      font-size: 12px;
    }
  }
  .arrowIcon {
    vertical-align: middle;
  }
  th {
    background-color: #153b62;
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    font-family: poppinsRegular;
  }
  td {
    text-align: center;
    font-size: 14px;
    font-family: poppinsRegular;
    background: #ccc;
  }
  td,
  th {
    border-top: none;
    border-bottom: none;
  }
  table {
    border-collapse: collapse;
  }

  tr:first-child td,
  tr:first-child th {
    border-top: none; /* outer border stays */
  }

  tr:last-child td,
  tr:last-child th {
    border-bottom: none; /* outer border stays */
  }
  .material-symbols-outlined{
    cursor: pointer;
    font-size: 20px;
  }
}
 form {
      padding: 10px 30px 10px 10px;
      @include ipad() {
        padding: 10px;
      }
      .title {
        font-size: 16px;
        font-family: poppinsRegular;
        color: #000000;
        display: flex;
        justify-content: space-between;
        @include mobile() {
          justify-content: flex-start;
        }
        @include tablet() {
          justify-content: flex-start;
          font-size: 13px;
        }
        @include ipad() {
          justify-content: flex-start;
          font-size: 14px;
          white-space: nowrap;
        }
        @include ipad() {
          justify-content: flex-start;
          font-size: 14px;
          white-space: nowrap;
        }
        @include ipadpro() {
          justify-content: flex-start;
          font-size: 14px;
          white-space: nowrap;
        }
      }
      .form-control {
        width: 100%;
      }
    }

  .text-danger{
    color: red;
  }
  .buttonDiv{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  .modal-content{
    width: 70% !important;
  }
  .modal-dialog{
    margin-right: 190px !important;
  }